<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p><br><br><br><br><br><br>




<hr>
<h1 style="background-color:red; color:green"> class is going and preparing by naresh manish jogi</h1>
